# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime files
pids
*.pid
*.seed

# dotenv environment files
.env

# Local uploads
uploads/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/

# Build & coverage (if added later)
dist/
coverage/
